# 1. Copy this file and rename it to .env.local
# 2. Update the enviroment variables below.

# API key and secret. If you use LiveKit Cloud this can be generated via the cloud dashboard.

LIVEKIT_API_KEY_1=sdsad
LIVEKIT_API_SECRET_1=xxx
LIVEKIT_URL_1=wss://xxx-xx.livekit.cloud
LIVEKIT_LABEL_1=region-1

LIVEKIT_API_KEY_2=xxx
LIVEKIT_API_SECRET_2=xx
LIVEKIT_URL_2=wss://x-xx.livekit.cloud
LIVEKIT_LABEL_2=region-2

# Maximum number of people allowed in a meeting by default
LIVEKIT_DEFAULT_MAXPARTICIPANTS=20

## PUBLIC
NEXT_PUBLIC_LK_TOKEN_ENDPOINT=/api/token

# Allow camera, share video or not
NEXT_PUBLIC_USE_VIDEO=false
NEXT_PUBLIC_USE_SCREEN=true
NEXT_PUBLIC_USE_SHAREVIDEO=true
NEXT_PUBLIC_DISABLE_E2EE=false
# Maximum number of saved historical rooms
NEXT_PUBLIC_MAX_HISTORY_ROOMS=6

# 支持腾讯快直播，分享视频时填入腾讯快直播拉流地址
# support tencent (Live Event Broadcasting，LEB），"share video" fill in tencent (Live Event Broadcasting，LEB）
NEXT_PUBLIC_USE_TENCENT_LEB=true

# ZLM wsplayer.js
NEXT_PUBLIC_WSPLAYER_JS_URL=https://quantil.jsdelivr.net/gh/tokamakz/wsPlayer/wsPlayer.js
NEXT_PUBLIC_M4BOX_JS_URL=https://quantil.jsdelivr.net/gh/tokamakz/wsPlayer/mp4box.all.min.js
NEXT_PUBLIC_FLV_JS_URL=https://cdn.staticfile.org/flv.js/1.6.2/flv.min.js
NEXT_PUBLIC_HLS_JS_URL=https://cdnjs.cloudflare.com/ajax/libs/hls.js/1.6.13/hls.min.js

# 支持阿里RTS直播，分享视频时填入腾讯快直播拉流地址
# support tencent (Live Event Broadcasting，LEB），"share video" fill in tencent (Live Event Broadcasting，LEB）
NEXT_PUBLIC_USE_ALI_RTS=true

# Whether to use the service of office cloud or not
NEXT_PUBLIC_IS_USE_CLOUD=true

NEXT_PUBLIC_UMAMI_URL=https://analytics.umami.is/script.js
NEXT_PUBLIC_UMAMI_ID=xxx-x-48x92-a7dxf-xxx

#OTHER
NODE_TLS_REJECT_UNAUTHORIZED=0
